<nav>
	<ul>
		<li>
		<%= link_to 'gyms', gyms_path %>
		</li>
		<li>
      <%= link_to t('layout.signup'), new_user_path %>
    </li>
    <li>
			<%= link_to t('layout.signin'), new_user_sessions_path %>
		</li>
	</ul>
</nav>


<nav>
	<ul>
		<li>
			<%= link_to 'new gym', new_gym_path %>
		</li>

		<li>
			<%= link_to t('layout.my_profile'), user_path(current_user) %>
		</li>
		<li>
			<%= link_to t('layout.signout'), user_sessions_path, method: :delete %>
		</li>
	</ul>
</nav>