<p id="notice"><%= notice %></p>

<p>
  <strong>Gym name:</strong>
  <%= @gym.gym_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @gym.address %>
</p>

<p>
  <strong>Open time:</strong>
  <%= @gym.open_time %>
</p>

<p>
  <strong>Close time:</strong>
  <%= @gym.close_time %>
</p>

<p>
  <strong>Gym manager:</strong>
  <%= @gym.gym_manager %>
</p>

<%= link_to 'Edit', edit_gym_path(@gym) %> |
<%= link_to 'Back', root_path %>
